# Unity3D .gitignore file
# Store this file at the root of your local repository
.DS_Store
Library
!ProjectSettings
!Assets
Temp
*.csproj
*.booproj
*.unityproj
*.pidb
*.sln
*.userprefs
Thumbs.db
Thumbs.db.meta
build
*.blend1/
*.blend2/